<a href="https://colab.research.google.com/github/haidour18/Benchemarking-Recommender-systems-/blob/main/apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle
!pip install -q keras
!pip install numpy
!pip install sklearn
!pip install scipy
!pip install surprise
!pip install apyori
!pip install matrix_factorization
!pip install factor-analyzer
!pip install python-helper

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.10)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.19.5)
Requirement already satisfied: surprise in /usr/local/lib/python3.7/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)
Requirement already satisfied: matrix_factorization in /usr/local/lib/python3.7/dist-packages (1.3)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from matrix_factorization) (1.4.1)
Requirement already satisfied: numba>=0.49.1 in /usr/local/lib/python3.7/dist-packages (from matrix_factorization) (0.51.2)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from matrix_factorization) (1.1.5)
Requirement already satisfied: scikit-learn>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from matrix_factorization) (0.24.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.7/dist-packages (from matrix_factorization) (1.19.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.49.1->matrix_factorization) (53.0.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.49.1->matrix_factorization) (0.34.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.4->matrix_factorization) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.4->matrix_factorization) (2.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.23.1->matrix_factorization) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.23.1->matrix_factorization) (1.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.4->matrix_factorization) (1.15.0)
Requirement already satisfied: factor-analyzer in /usr/local/lib/python3.7/dist-packages (0.3.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from factor-analyzer) (0.24.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from factor-analyzer) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from factor-analyzer) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from factor-analyzer) (1.1.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->factor-analyzer) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->factor-analyzer) (2.1.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->factor-analyzer) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->factor-analyzer) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->factor-analyzer) (1.15.0)
Requirement already satisfied: python-helper in /usr/local/lib/python3.7/dist-packages (0.2.35)
Requirement already satisfied: colorama==0.4.3 in /usr/local/lib/python3.7/dist-packages (from python-helper) (0.4.3)

In [ ]:
#All the header files required for the code
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn import metrics
import random
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.sparse import csr_matrix
import helper
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os, glob , csv
import time, joblib
import pandas as pd
#from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import seaborn as sns
from zipfile import ZipFile as zip
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans

from IPython.display import display
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics.pairwise import cosine_similarity as cos
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import precision_score
import warnings; warnings.simplefilter('ignore')
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files 
files.upload()

!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
#change permissions 
!chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

In [ ]:
!kaggle datasets download -d rounakbanik/the-movies-dataset

Downloading the-movies-dataset.zip to /content
 95% 217M/228M [00:05<00:00, 38.4MB/s]
100% 228M/228M [00:05<00:00, 45.2MB/s]

In [ ]:
# DÃ©zippier le .zip obtenu
from zipfile import ZipFile
file_name = '/content/the-movies-dataset.zip'
with ZipFile (file_name ,'r') as zip : 
  zip.extractall()
  print('Done')

Done

In [ ]:
# Apriori


# Data Preprocessing
dataset = pd.read_csv('movies_metadata.csv', header = None)
dataset.head(5)

      0   ...          23
0  adult  ...  vote_count
1  False  ...        5415
2  False  ...        2413
3  False  ...          92
4  False  ...          34

[5 rows x 24 columns]

In [ ]:
ratings_df = pd.read_csv("ratings_small.csv")

In [ ]:
movies_df=pd.read_csv("movies_metadata.csv")

In [ ]:
movies_df.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
movies_df.drop(movies_df.index[19730],inplace=True)
movies_df.drop(movies_df.index[29502],inplace=True)
movies_df.drop(movies_df.index[35585],inplace=True)

In [ ]:
#to resolve the error when we merge 
movies_df.id = movies_df.id.astype(np.int64)

In [ ]:
type(movies_df.id[0])

numpy.int64

In [ ]:
ratings_df.movieId.isin(movies_df.id).sum()
ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
ratings_df = pd.merge(ratings_df,movies_df[['title','id']],left_on='movieId',right_on='id')
ratings_df.head()

   userId  movieId  rating   timestamp      title    id
0       1     1371     2.5  1260759135  Rocky III  1371
1       4     1371     4.0   949810302  Rocky III  1371
2       7     1371     3.0   851869160  Rocky III  1371
3      19     1371     4.0   855193404  Rocky III  1371
4      21     1371     3.0   853852263  Rocky III  1371

In [ ]:
ratings_df.drop(['timestamp','id'],axis=1,inplace=True)

In [ ]:
ratings_df["rating"].fillna(0)

0        2.5
1        4.0
2        3.0
3        4.0
4        3.0
        ...
44989    4.0
44990    3.0
44991    4.0
44992    3.0
44993    3.0
Name: rating, Length: 44994, dtype: float64

In [ ]:
ratings_df.shape

(44994, 4)

In [ ]:
ratings_df.sample(5)

       userId  movieId  rating                 title
14814     442      344     4.0      Bang, Boom, Bang
23307     572      145     4.5    Breaking the Waves
9885      199      858     3.0  Sleepless in Seattle
37250     285     2116     3.0           Out of Time
44927     621     4104     0.5          Benny & Joon

In [ ]:
ratings_df.isnull().sum()

userId     0
movieId    0
rating     0
title      0
dtype: int64

In [ ]:
ratings_count = ratings_df.groupby(by="title")['rating'].count().reset_index().rename(columns={'rating':'totalRatings'})[['title','totalRatings']]

In [ ]:
ratings_count.shape[0]

2794

In [ ]:
len(ratings_df['title'].unique())

2794

In [ ]:
ratings_count.sample(5)

                          title  totalRatings
17              2 Days in Paris            12
2042  The Chronicles of Riddick             5
1148                      Krull            28
1314                  May Fools             5
555                Daisy Miller             3

In [ ]:
ratings_count.head()

                                  title  totalRatings
0                 !Women Art Revolution             2
1                           'Gator Bait             1
2      'Twas the Night Before Christmas             2
3              ...And God Created Woman             1
4  00 Schneider - Jagd auf Nihil Baxter             2

In [ ]:
ratings_df.head()

   userId  movieId  rating      title
0       1     1371     2.5  Rocky III
1       4     1371     4.0  Rocky III
2       7     1371     3.0  Rocky III
3      19     1371     4.0  Rocky III
4      21     1371     3.0  Rocky III

In [ ]:
ratings_total = pd.merge(ratings_df,ratings_count,on='title',how='left')

In [ ]:
ratings_total.shape

(44994, 5)

In [ ]:
ratings_total.head()

   userId  movieId  rating      title  totalRatings
0       1     1371     2.5  Rocky III            47
1       4     1371     4.0  Rocky III            47
2       7     1371     3.0  Rocky III            47
3      19     1371     4.0  Rocky III            47
4      21     1371     3.0  Rocky III            47

In [ ]:
ratings_count['totalRatings'].describe()

count    2794.000000
mean       16.103794
std        31.481306
min         1.000000
25%         1.000000
50%         4.000000
75%        15.750000
max       324.000000
Name: totalRatings, dtype: float64

In [ ]:
ratings_count['totalRatings'].quantile(np.arange(.6,1,0.01))

0.60      7.00
0.61      7.00
0.62      7.00
0.63      8.00
0.64      8.00
0.65      9.00
0.66      9.00
0.67     10.00
0.68     10.00
0.69     11.00
0.70     12.00
0.71     12.00
0.72     13.00
0.73     14.00
0.74     14.00
0.75     15.75
0.76     17.00
0.77     18.00
0.78     19.00
0.79     20.00
0.80     21.00
0.81     22.33
0.82     24.00
0.83     26.00
0.84     27.00
0.85     29.00
0.86     31.00
0.87     34.00
0.88     37.00
0.89     41.77
0.90     45.00
0.91     49.00
0.92     52.56
0.93     59.00
0.94     64.42
0.95     71.00
0.96     83.28
0.97     98.21
0.98    119.14
0.99    168.49
Name: totalRatings, dtype: float64

In [ ]:
votes_count_threshold = 20

In [ ]:
ratings_top = ratings_total.query('totalRatings > @votes_count_threshold')

In [ ]:
ratings_top.shape

(34552, 5)

In [ ]:
ratings_top.head()

   userId  movieId  rating      title  totalRatings
0       1     1371     2.5  Rocky III            47
1       4     1371     4.0  Rocky III            47
2       7     1371     3.0  Rocky III            47
3      19     1371     4.0  Rocky III            47
4      21     1371     3.0  Rocky III            47

In [ ]:
if not ratings_top[ratings_top.duplicated(['userId','title'])].empty:
    ratings_top = ratings_top.drop_duplicates(['userId','title'])

In [ ]:
ratings_top.shape

(34412, 5)

In [ ]:
df_for_knn = ratings_top.pivot(index='title',columns='userId',values='rating').fillna(0)

In [ ]:
df_for_knn.head()
df_for_knn.dropna()

userId                        1    2    3    4    5    ...  667  668  669  670  671
title                                                  ...
20,000 Leagues Under the Sea  0.0  0.0  0.0  3.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
2001: A Space Odyssey         0.0  3.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
24 Hour Party People          0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
28 Days Later                 0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
28 Weeks Later                0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
...                           ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
Young Adam                    0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
Young Frankenstein            0.0  0.0  0.0  5.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
Young and Innocent            0.0  0.0  3.5  0.0  3.5  ...  0.0  0.0  0.0  0.0  4.0
Zatoichi                      0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
xXx                           0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0

[580 rows x 671 columns]

In [ ]:
df_for_knn.shape

(580, 671)

In [ ]:
from scipy.sparse import csr_matrix

In [ ]:
df_for_knn_sparse = csr_matrix(df_for_knn.values)
df_for_knn_sparse.T

<671x580 sparse matrix of type '<class 'numpy.float64'>'
	with 34412 stored elements in Compressed Sparse Column format>

In [ ]:
from sklearn.neighbors import NearestNeighbors

In [ ]:
model_knn = NearestNeighbors(metric='cosine',algorithm='brute')

In [ ]:
model_knn.fit(df_for_knn_sparse)

NearestNeighbors(algorithm='brute', metric='cosine')

In [ ]:
query_index = np.random.choice(df_for_knn.shape[0])

In [ ]:
distances, indices = model_knn.kneighbors(df_for_knn.loc['Batman Returns'].values.reshape(1,-1),n_neighbors=6)

In [ ]:
distances, indices = model_knn.kneighbors(df_for_knn.iloc[query_index,:].values.reshape(1,-1),n_neighbors=6)

In [ ]:
for i in range(0,len(distances.flatten())):
    if i==0:
        print("Recommendations for movie: {0}\n".format(df_for_knn.index[query_index]))
    else:
        print("{0}: {1}, with distance of {2}".format(i,df_for_knn.index[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for movie: Gleaming the Cube

1: Blood: The Last Vampire, with distance of 0.46415363025704304
2: One Night at McCool's, with distance of 0.48446876319387455
3: Dogtown and Z-Boys, with distance of 0.48733299540736397
4: Arlington Road, with distance of 0.4991811052471211
5: Whale Rider, with distance of 0.5075058991998447

In [ ]:
def encode_units(x):
    if x<=0:
        return 0
    if x>=1:
        return 1

In [ ]:
df_for_ar = df_for_knn.T.applymap(encode_units)
df_for_ar.dropna()

title   20,000 Leagues Under the Sea  2001: A Space Odyssey  ...  Zatoichi  xXx
userId                                                       ...
1                                0.0                      0  ...       0.0    0
2                                0.0                      1  ...       0.0    0
3                                0.0                      0  ...       0.0    0
4                                1.0                      0  ...       0.0    0
5                                0.0                      0  ...       0.0    0
...                              ...                    ...  ...       ...  ...
667                              0.0                      0  ...       0.0    0
668                              0.0                      0  ...       0.0    0
669                              0.0                      0  ...       0.0    0
670                              0.0                      0  ...       0.0    0
671                              0.0                      0  ...       0.0    0

[564 rows x 580 columns]

In [ ]:
df_for_ar.replace({False: 0, True: 1}, inplace=True)
df_for_ar.notnull()

df_for_ar.notnull().astype('int')
df_for_ar.fillna(0)
df_for_ar.fillna(0, inplace=True)   # Replace all NaN values with zero, updating the DataFrame directly

df_for_ar.head()

title   20,000 Leagues Under the Sea  2001: A Space Odyssey  ...  Zatoichi  xXx
userId                                                       ...
1                                0.0                      0  ...       0.0    0
2                                0.0                      1  ...       0.0    0
3                                0.0                      0  ...       0.0    0
4                                1.0                      0  ...       0.0    0
5                                0.0                      0  ...       0.0    0

[5 rows x 580 columns]

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
frequent_itemsets = apriori(df_for_ar, min_support=0.07, use_colnames=True)

In [ ]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

                      antecedents  ... conviction
0                       (48 Hrs.)  ...   1.168245
1  (20,000 Leagues Under the Sea)  ...   1.696349
2  (20,000 Leagues Under the Sea)  ...   1.993480
3     (A Nightmare on Elm Street)  ...   1.256382
4  (20,000 Leagues Under the Sea)  ...   1.963381

[5 rows x 9 columns]