<a href="https://colab.research.google.com/github/haidour18/Benchemarking-Recommender-systems-/blob/main/Kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install kaggle
!pip install -q keras
!pip install numpy
!pip install sklearn
!pip install scipy
!pip install surprise
!pip install apyori
!pip install matrix_factorization
!pip install factor-analyzer
!pip install python-helper

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.10)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.19.5)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.24.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.0.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.19.5)
Requirement already satisfied: surprise in /usr/local/lib/python3.6/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.6/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.0.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: matrix_factorization in /usr/local/lib/python3.6/dist-packages (1.3)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from matrix_factorization) (1.1.5)
Requirement already satisfied: numba>=0.49.1 in /usr/local/lib/python3.6/dist-packages (from matrix_factorization) (0.51.2)
Requirement already satisfied: scikit-learn>=0.23.1 in /usr/local/lib/python3.6/dist-packages (from matrix_factorization) (0.24.1)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from matrix_factorization) (1.4.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.6/dist-packages (from matrix_factorization) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.4->matrix_factorization) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.4->matrix_factorization) (2.8.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba>=0.49.1->matrix_factorization) (53.0.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.49.1->matrix_factorization) (0.34.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.23.1->matrix_factorization) (1.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.23.1->matrix_factorization) (2.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.4->matrix_factorization) (1.15.0)
Requirement already satisfied: factor-analyzer in /usr/local/lib/python3.6/dist-packages (0.3.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from factor-analyzer) (0.24.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from factor-analyzer) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from factor-analyzer) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from factor-analyzer) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->factor-analyzer) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->factor-analyzer) (1.0.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->factor-analyzer) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->factor-analyzer) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->factor-analyzer) (1.15.0)
Requirement already satisfied: python-helper in /usr/local/lib/python3.6/dist-packages (0.2.35)
Requirement already satisfied: colorama==0.4.3 in /usr/local/lib/python3.6/dist-packages (from python-helper) (0.4.3)

In [3]:
#All the header files required for the code
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn import metrics
import random
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.sparse import csr_matrix
import helper
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os, glob , csv
import time, joblib
import pandas as pd
#from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import seaborn as sns
from zipfile import ZipFile as zip
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans

from IPython.display import display
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics.pairwise import cosine_similarity as cos
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import precision_score
import warnings; warnings.simplefilter('ignore')
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files 
files.upload()

!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
#change permissions 
!chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

In [ ]:
!kaggle datasets download -d rounakbanik/the-movies-dataset

Downloading the-movies-dataset.zip to /content
 93% 211M/228M [00:04<00:00, 42.7MB/s]
100% 228M/228M [00:04<00:00, 52.2MB/s]

In [8]:
# Dézippier le .zip obtenu
from zipfile import ZipFile
file_name = 'the-movies-dataset.zip'
with ZipFile (file_name ,'r') as zip : 
  zip.extractall()
  print('Done')

Done

In [6]:
movies=pd.read_csv("movies_metadata.csv")
ratings=pd.read_csv("ratings.csv")
movies=movies.iloc[:3000,[3,5,8]]
movies.head(5)
movies.dropna()
ratings.dropna()
movies.head(5)

                                              genres  ...               original_title
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  ...                    Toy Story
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...  ...                      Jumanji
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  ...             Grumpier Old Men
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...  ...            Waiting to Exhale
4                     [{'id': 35, 'name': 'Comedy'}]  ...  Father of the Bride Part II

[5 rows x 3 columns]

In [7]:
Nmovies=movies.shape[0]

In [8]:
import ast

# this function extracts words out of dictionaries and formats them
def word_extractor(row_of_words):
    words_joined = []
    if (type(row_of_words)!=str or type(ast.literal_eval(row_of_words))!=list):
        words_joined = ['']
    else:
    # extract words from the dictionaries
        word_list = ast.literal_eval(row_of_words)
        for w in range(0,len(word_list)):
            word_list[w] = word_list[w]['name']
            word_list[w] = word_list[w].replace(" ","")
        words_joined.append(' '.join(word_list))    
    return words_joined

# applying the word_extractor function to dict. features
genres = []
for m in range(0,Nmovies):
    genres.append(word_extractor(movies['genres'][m]))
    movies['genres'][m]=word_extractor(movies['genres'][m])

In [9]:
movies.head(5)

                       genres     id               original_title
0   [Animation Comedy Family]    862                    Toy Story
1  [Adventure Fantasy Family]   8844                      Jumanji
2            [Romance Comedy]  15602             Grumpier Old Men
3      [Comedy Drama Romance]  31357            Waiting to Exhale
4                    [Comedy]  11862  Father of the Bride Part II

In [10]:
ratings.rename(columns={'movieId': 'id'},inplace=True)

In [11]:
ratings.head(5)

   userId    id  rating   timestamp
0       1   110     1.0  1425941529
1       1   147     4.5  1425942435
2       1   858     5.0  1425941523
3       1  1221     5.0  1425941546
4       1  1246     5.0  1425941556

In [12]:
data=ratings.join(movies,on="id", how='left', lsuffix='_left', rsuffix='_right')
data=data.dropna()
data.tail(35)

          userId  id_left  ...  id_right                        original_title
26024133  270896     1917  ...      9424                   Disturbing Behavior
26024134  270896     1923  ...     20173                The Barefoot Executive
26024135  270896     1961  ...     42121                        Tender Mercies
26024136  270896     1968  ...     35144             The Journey of Natty Gann
26024137  270896     2000  ...      6471                              The Jerk
26024138  270896     2001  ...      9442             Dead Men Don't Wear Plaid
26024139  270896     2003  ...     13697                          Grand Canyon
26024140  270896     2028  ...     15171                       Charlotte's Web
26024141  270896     2054  ...      2182        Attack of the Killer Tomatoes!
26024142  270896     2100  ...      2762                    Young and Innocent
26024143  270896     2174  ...     11071                                 Them!
26024144  270896     2194  ...    134368                         One Tough Cop
26024145  270896     2268  ...     10587  Police Academy 4: Citizens on Patrol
26024146  270896     2291  ...      1370                             Rambo III
26024147  270896     2321  ...    125582                     Down in the Delta
26024148  270896     2324  ...     11365                                 Wilde
26024149  270896     2353  ...    274253                   Belizaire the Cajun
26024150  270896     2355  ...     10945                    Jumpin' Jack Flash
26024151  270896     2395  ...     15031                            The Breaks
26024152  270896     2396  ...     15209                     Eight Days a Week
26024153  270896     2502  ...      8592                            Dick Tracy
26024154  270896     2571  ...     14283                        The Red Violin
26024155  270896     2599  ...     16158                              The Wood
26024156  270896     2617  ...      1628                          Jules et Jim
26024157  270896     2628  ...    108312                            Native Son
26024158  270896     2683  ...     11077                         Problem Child
26024159  270896     2692  ...     10366         Universal Soldier: The Return
26024160  270896     2706  ...     53761                       Male and Female
26024161  270896     2712  ...      2900                  The Astronaut's Wife
26024162  270896     2716  ...    104896                     A Dog Of Flanders
26024163  270896     2762  ...     28377                            Hell Night
26024164  270896     2858  ...     10496                                  Bats
26024165  270896     2918  ...     37853                        Mister Roberts
26024166  270896     2959  ...      2690                         Irma la Douce
26024167  270896     2997  ...       863                           Toy Story 2

[35 rows x 7 columns]

In [5]:

# Data Processing
# Converting Genres into different columns 
# Here we just create columns and put there initial value as 0

x = data.genres
a = []
for i in x:
    abc = i
    a.append(abc)
a = pd.DataFrame(a)   
b = a[0].unique()
for i in b:
    data[i] = 0
data.head(15)

NameError: ignored